.map-container {
    max-width: 750px;
    max-height: 400px;
}

form {
    margin: 4px;
}

.side-panel-container {
    display: flex; 
    height: 0; 
    justify-content: flex-end; 
    position: relative; 
    width: 100%;
}

.side-panel {
    position: absolute;
    width: 50px;
    height: 250px;
    background-color: white;
    right: -62px;
    top: 0px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    background-color: #fff;
    border: 1px solid #dadce0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.side-panel-button-wrapper {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.side-panel-button-wrapper:hover, .mobile-side-panel-button-wrapper:hover {
    color: #5f6368;
    fill: #5f6368;
    background-image: radial-gradient(circle farthest-side,rgba(95,99,104,0.161),rgba(95,99,104,0.161) 80%,rgba(95,99,104,0) 100%);
}

.circle-button {
    color: #5f6368;
    fill: #5f6368;
    width: 24px;
    height: 24px;
    direction: ltr;
    text-align: left;
    display: inline-block;
    position: relative;
    border-radius: 50%;
}

.mobile-side-panel-button-wrapper {
    width: 48px;
    height: 48px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-image-button-wrapper {
    width: 48px;
    height: 48px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.question-image-button {
    color: #5f6368;
    fill: #5f6368;
    cursor: pointer;
    width: 48px;
    height: 48px;
    display: flex;
    position: relative;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.menu-helper-text {
    align-self: flex-start;
    color: #757575;
    font-size: 14px;
    padding-left: 16px;
    padding-top: 6px;
}

.menu-row {
    display: flex;
    height: 48px;
    align-items: center;
    min-width: 192px;
    padding: 0;
}

.menu-row button {
    padding: 0;
    padding-left: 40px;
    padding-right: 10px;
}

.menu-row-selected {
    background-color: rgba(26, 115, 232, 0.039);
}

.menu-row mat-icon {
    pointer-events: none;
    position: absolute;
    display: block;
    color: #757575;
}

.mobile-side-panel-container {
    display: none;
}

.form-wrapper {
    min-width: 250px;
    margin: 0 auto;
    margin-top: 12px;
    max-width: 800px;
    margin-bottom: 68px;
}

.grid-answer {
    display: flex;
    flex-grow: 1;
    flex-flow: row wrap;
}

.grid-table {
    background-color: transparent;
    border-collapse: collapse;
    display: table;
    pointer-events: none;
    table-layout: fixed;
    width: 100%;
}

.grid-table-row {
    display: table-row;
}

.grid-table-cell {
    display: table-cell;
    height: 2.5em;
    min-width: 48px;
    padding: .25em;
    text-align: center;
    vertical-align: middle;
    width: 48px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 288px;
}

.grid-edit {
    width: 50%;
    display: block;
}

.grid-row-number {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 48px;
}

.grid-row-text {
    flex-grow: 1;
    align-items: center;
    display: flex;
}

.grid-row-button {
    display: flex;
    align-items: center;
    text-align: center;
    width: 48px;
    height: 48px;
    justify-content: center;
}

.date-answer {
    padding-left: 24px;
}

.date-time-input {
    display: flex;
    width: 200px;
    outline: none;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(150, 150, 150);
    margin-bottom: 8px;
    height: 40px;
    align-items: flex-end;
}

.time-answer {
    padding-left: 24px;
}

.location-answer {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.map-coordinates {
    display: flex;
    margin-top: 6px;
    padding: 6px 0;
}

.text-answer {
    margin: 0 24px;
}

.short-text-answer {
    width: 50%;
}

.long-text-answer {
    width: 85%;
}

.file-answer {
    margin: 0 24px;
}

.file-row {
    min-height: 42px;
    display: flex;
    align-items: center;
    max-width: 400px;
}

.file-selected-types {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    max-width: 400px;
    padding: 6px;
}

.file-selected-types mat-checkbox {
    display: flex;
    flex-grow: 1;
    flex-basis: 160px;
    justify-content: space-between;
    padding: 6px 6px 6px 0;
}

.scale-answer {
    margin: 0 24px;
}

.unselected-scale {
    display: flex;
    width: 100%;
}

.unselected-placeholder, 
.unselected-label, 
.unselected-number, 
.unselected-bubble {
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    box-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    min-height: 3em;
}

.unselected-item {
    display: flex; 
    flex-grow: 1; 
    align-items: stretch; 
    flex-direction: column; 
    max-width: 35%;
}

.title-card {
    display: flex;
    position: relative;
    color: #202124;
}

.title-card-stripe {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 10px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: calc(100% + 2px);
    background-color: rgb(103, 58, 183);
    z-index: 0;
}

.title-card-content {
    display: flex;
    flex-flow: column;
    margin-top: -32px;
}

.title-card-row {
    display: flex;
}

.title-card-text-wrapper {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 8px;
    position: relative;
    padding-bottom: 8px;
    flex: 1;
}

.title-card-text {
    min-height: 1.5em;
    position: relative;
    vertical-align: top;
}

.title-card-text-underline {
    background-color: rgba(0, 0, 0, .22);
    height: 1px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

.title-card-description-wrapper {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    box-sizing: border-box;
    line-height: 135%;
    width: 100%;
    position: relative;
}

.title-card-description {
    position: relative;
}

.title-card-actions {
    display: flex;
    align-items: flex-end;
}

mat-form-field {
    width: 100%;
}

.card-focus {
    left: -1px;
    height: calc(100% + 2px);
    position: absolute;
    bottom: -1px;
    width: 6px;
    background-color: #4285f4;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 0;
}

.title-card-focus {
    left: -1px;
    height: calc(100% - 8px);
    position: absolute;
    bottom: -1px;
    width: 6px;
    background-color: #4285f4;
    border-bottom-left-radius: 8px;
    z-index: 0;
}

.card-content {
    display: flex;
    flex-flow: column;
    margin-bottom: -12px !important;
}

.card-row {
    display: flex;
    padding-left: 12px;
}

.example-list {
    max-width: 100%;
    min-height: 60px;
    display: block;
    overflow: hidden;
}

.drag-icon {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    cursor: move;
    height: 24px;
}
  
.box-wrapper {
    padding: 12px 0 0;
}

mat-card {
    padding: 0;
}

.list-choice {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.list-drag-handle {
    width: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 48px;
    cursor: move;
}

.list-drag-handle mat-icon {
    display: none;
}

.list-choice:hover .list-drag-handle mat-icon {
    display: block;
}

.list-bullet {
    margin-right: 10px;
    pointer-events: none;
    width: 20px;
    height: 24px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-text {
    flex: 1;
}

.list-controls {
    display: flex;
}

.add-list-choice-option {
    color: #bdbdbd;
    margin-right: 8px;
    letter-spacing: 0.2px;
    border-bottom: 1px solid transparent;
}

.add-list-choice-option:hover {
    border-bottom: 1px solid #bdbdbd;
}

.add-list-other-option {
    color: #1a73e8;
    padding: 0 8px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-list-other-option:hover {
    background-color: #4285f41a;
}
  
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
  
.cdk-drag-animating {
    transition: transform 0ms cubic-bezier(0, 0, 0.2, 1);
}
  
.box-wrapper:last-child {
    padding-bottom: 12px;
}

mat-card.cdk-drop-list-dragging mat-card:not(.cdk-drag-placeholder) {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.custom-placeholder {
  background: transparent;
  min-height: 60px;
  transition: transform 0ms cubic-bezier(0, 0, 0.2, 1);
}

mat-select:last-child {
    display: none;
}

.answer-section {
    margin-bottom: 24px;
    margin-left: -12px;
}

.thin-field {
    margin-bottom: -1.25em;
}

.hide {
    display: none !important;
}

.cursor {
    cursor: auto !important;
}

@media (max-width: 1150px) {

    .side-panel-container {
        min-height: 62px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
    }

    .side-panel {
        position: unset;
        width: 100%;
        flex-flow: row;
        height: 60px;
        justify-content: space-around;
        margin: 0 16px;
        padding: 0 4px;
        z-index: 10;
    }

}