mat-card {
    width: 344px;
    margin: 8px;
    cursor: pointer;
}

.z-depth {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.z-depth:hover,
.z-depth:focus,
.z-depth:active {
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.poll-expired {
    background-color: rgba(237, 118, 118, 0.4);
}

.poll-answered {
    background-color: rgba(109, 189, 123, 0.4);
}

@media(max-width: 375px) {
    mat-card {
        width: 320px;
        margin: 4px 0;
    }
}