.container {
    display: flex;
    flex-wrap: wrap;
    width: 392px;
}

@media(max-width: 392px) {
    .container {
        width: auto;
        justify-content: center;
    }
}

@media(min-width: 1024px) {
    .container {
        width: 784px;
    }
}

@media(min-width: 1536px) {
    .container {
        width: 1176px;
    }
}
